<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.driveaz.driveazevendor">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".RegistrationActivity">

        </activity>

        <activity android:name=".LoginActivity">

        </activity>

        <activity android:name=".RequestActivity">

        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e19dd63b4594a9bc3248e8666df0d927f83f0288" />
    </application>

</manifest>